.bio-container {
    padding: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.title {
    text-align: justify;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
}

